/* header */
body{
    box-sizing: border-box;
    background-color: #4db91b;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo1 img{
    width: 40%;
    height: auto;
}
.navbar{
    font-size: x-large;
    display: flex;
    gap: 2rem;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color:black;
}

#close{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}
#menu{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
}


/* home */

.home{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* home left section */


#visual{
    fill: #43f018;
    margin-top: -290px;
    margin-left: -170px;
}
.content{
    position: absolute;
    top: 150px;
    color: white;
    left: 100px;
}
.caption{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.itemcontainer{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -270px;
    margin-left:20px;
    margin-right: 80px;
}
.itemcontainer button{
    background: none;
    border-radius: 100%;
    border: none;
}
.itemimg1{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.itemimg2{
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.itemimg3{
    width: 125px;
    height: 125px;
    object-fit: contain;
}
.itemimg4{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/* home right section */

#visualcircle{
    position: relative;
    right: -50%;
    bottom: -140px;
    fill: #43f018;
}
.bowlimg1{
    position: absolute;
    bottom: 100px;
    right: 105px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.bowlimg2{
    position: absolute;
    bottom: 100px;
    right: 105px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.bowlimg3{
    position: absolute;
    bottom: 85px;
    right: 85px;
    width: 520px;
    height: 520px;
    object-fit: cover;
}
.bowlimg4{
    position: absolute;
    bottom: 100px;
    right: 105px;
    width: 480px;
    height: 480px;
    object-fit: cover;
}
.inactive{
    opacity: 0;
}
.active{
    opacity: 1;
}
.img_animation{
    transition: all ease-in-out 450ms;
}

/* media queries for responsiveness */
@media screen and (max-width: 1300px){
    
}
@media screen and (max-width: 786px) {
    .navbar{
        position: fixed;
        top: 0; right: -105%;
        width: 30rem;
        background: rgba(255, 255, 255, 0.208);
        backdrop-filter: blur(50px);
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
        }
    #menu{
        display:inline-block;
        position: fixed;
        right: 30px;
    }
    .active{
        right: 0;
    }
    #close{
        display: block;
        /* position: fixed; */
    }
    .navbar a{
        text-align: center;
        font-size: x-large;
    }
    #visualcircle{
        right: -70%;
    }
    .bowlimg1{
    position: absolute;
    bottom: -105%;
    right: 10%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.bowlimg2{
    position: absolute;
    bottom: -105%;
    right: 10%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.bowlimg3{
    position: absolute;
    bottom: -105%;
    right: 10%;
    width: 520px;
    height: 520px;
    object-fit: cover;
}
.bowlimg4{
    position: absolute;
    bottom: -105%;
    right: 10%;
    width: 480px;
    height: 480px;
    object-fit: cover;
}
    
}
